<table style="border: 1px solid #000">
    <thead>
        <th>id</th>
        <th>name</th>
        <th>short name</th>
        <th>show in home</th>
        <th>show in detail</th>
    </thead>
    <tbody>
        <tr>
            <td>{{ importantInformation.id }}</td>
            <td>{{ importantInformation.name }}</td>
            <td>{{ importantInformation.shortName }}</td>
            <td>{{ importantInformation.showInHome }}</td>
            <td>{{ importantInformation.showInDetail }}</td>
        </tr>
    </tbody>
</table>